* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.container {
    background-size: cover;
    flex-direction: column;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
    background-color: #3b3b3b;
    background-blend-mode: overlay;
    width: 100%;
}

header, main, .topInfo,
footer, .container,
#bitcoin, #weatherInfo,
#weather, .livePrice {
    display: flex;
}

header, footer {
    justify-content: space-between;
}

.price {
    padding: .8em;
    margin-left: 1em;
    background-color: rgba(0, 0, 0, 0.512);
    border-radius: 5px;
}

.livePrice {
    margin-top: .5em;
}

header, footer {
    padding: 1em .5em;
    width: 95%;
    margin: 0 auto;
}

main, footer, header,
#bitcoin, #weatherInfo,
.topInfo {
    align-items: center;
}

.coinData, .liveUpdates, 
#weather {
    width: 30%;
}

#weather, .liveUpdates {
    margin-bottom: auto;
}

#weather {
    align-items: flex-end;
    flex-direction: column;
}

main, footer {
    margin-top: auto;
}

#bitcoin img {
    background-color: rgba(255, 255, 255, 0.512);
    border-radius: 50%;
}

main {
    flex-direction: column;
    padding: 1em 1em;
    align-self: center;
}

h1 {
    font-size: 7rem;
}

h2 {
    margin-top: 0;
    font-size: 2rem;
    border-bottom: 2px solid white;
}

.city {
    margin-top: -1.2em;
    margin-right: 1em;
}

.temp {
    font-size: 2rem;
}

main p {
    line-height: 1.2;
}

.coinName {
    padding-left: .5em;
    text-transform: capitalize;
    font-size: 1.2rem;
}

#bitcoin {
    margin: .5em 0;
}

h5 {
    margin-bottom: .5em;
}

#crypto p, main p, h1,
.livePrice p {
    margin: 0;
}

input[type=text] {
    width: 70%;
}

input, button {
    padding: .6em;
    border-radius: 5px;
    border: 0;
}

button {
    width: 25%;
    padding: .7em;
    background-color: rgba(0, 0, 0, 0.701);
    color: white;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: rgba(0, 0, 0, 0.226);
}

#adviceText {
    width: 40%;
    text-align: end;
}

@media (max-width: 600px) {
    footer, header {
        flex-direction: column;
    }

    #adviceText, .liveUpdates,
    .coinData, #weather {
        width: 100%;
    }

    #weather {
        align-items: center;
    }

    #timeText {
        font-size: 4rem;
    }

    h2 ~ p, #adviceText {
        text-align: center;
    }
}