* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-size: cover;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #aaaaaa; 
    flex-direction: column;
    min-height: 100vh;
    font-size: 1.2rem;
}

header, main, 
footer, body,
#bitcoin, #weatherInfo {
    display: flex;
}

header, footer {
    justify-content: space-between;
    padding: .5em 1em;
}

main, footer,
#bitcoin, #weatherInfo {
    align-items: center;
}

main, footer {
    margin-top: auto;
}

main {
    flex-direction: column;
    padding: 1em 1em;
    align-self: center;
    border-bottom: 4px solid white;
}

h1 {
    margin: 0;
    font-size: 7rem;
}

h2 {
    margin-top: 0;
    font-size: 2rem;
}

#weatherInfo {
    display: flex;
}

.city {
    text-align: center;
    margin-top: -1.4em;
}

.temp {
    font-size: 2rem;
}

main p {
    margin: 0;
    line-height: 1.2;
}

.coinName {
    padding-left: .5em;
    text-transform: capitalize;
    font-size: 1.2rem;
}

#bitcoin {
    margin-bottom: .9em;
}

#crypto p{
    margin: 0;
}